
.footer {
  text-align: center;
  color: #aaa;
  font-size: 0.95rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  position: relative;
}

.footer-top-line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 1.5rem;
}

.footer-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.footer-divider .line {
  width: 40px;
  height: 1px;
  background-color: rgba(0, 255, 255, 0.4);
}

.footer-divider .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00aaff;
  box-shadow: 0 0 6px #00aaff;
}

.footer-text {
  color: #aaa;
  font-weight: 500;
  font-size: 15px;
  /* font-size: medium; */
  max-width: none;
  font-family: sans-serif;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.footer-text a {
  color: #00ffaa;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer-text a:hover {
  color: #00ffff;
  text-shadow: 0 0 6px #00ffff;
}

.footer-divider .dot {
  animation: glow 2s infinite ease-in-out;
}

@keyframes glow {

  0%,
  100% {
    box-shadow: 0 0 6px #00aaff;
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 12px #00ffaa;
    opacity: 0.8;
  }
}
